.news_block {
    background-color: transparent;
    overflow: hidden;
    margin: 10px auto 10px auto;
    width: 40%;
    padding: 10px;
    border: 1px solid rgba(71, 71, 71, 0.6);
    border-radius: 5px;
}

.news_block__header {
    float: initial;
    background: #ff9d26;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.news_block__header__date {
    margin-top: 7px;
    float: right;
    text-align: right;
    font-size: 16px;
}


.news_block__content {
    font-size: 26px;
    text-align: left;
}

.news_block__img img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.news_block__admin_panel {
    margin-top: 10px;
    float: right;
}

.news_block__admin_panel a {
    text-decoration: none;
    color: black;
    height: auto;
    width: auto;
    padding: 5px;
    background: transparent;
    border: 1px solid #ff9d26;
    border-radius: 5px;
    font-size: 25px;
}

.news_block__admin_panel a:hover {
    background: #ff9d26;
}

.delete_dialog {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.delete_dialog:target {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
}

.delete_dialog__content {
    background: #ff9d26;
    padding: 1em 2em;

    border-radius: 9px;
    position: relative;
    width: 500px;
    max-width: 90%;
}

.delete_dialog__options {
    display: flex;
    justify-content: space-evenly;
}

.delete_dialog__options a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

#delete_dialog__yes {
    color: red;
}