.form {
    background: #ff9d26;

    display: block;

    align-items: center;

    border: 1px solid rgba(71, 71 ,71, 0.6);
    border-radius: 5px;

    width: 440px;
    margin: 10px auto 10px auto;

    height: auto;

    font-size: 30px;
    text-align: center;
}

.form input {
    margin: 5px auto 5px auto;
    font-size: 24px;
    width: 90%;
    height: 50px;
}

.but {
    display: flex;
    justify-content: center;
}

button[type=submit] {
    float: right;
    color: black;
    margin: 0 auto;
    padding: 5px;
    background: #34cb3c;
    border: 0;
    border-radius: 5px;
    font-size: 25px;
}

button[type=submit]:hover {
    opacity: .8;
    transition: all .4s;
}